<div class="container">
    <h3>Application for Services</h3>
    <div class="row">
      <div class="col-xs-12">
        <h4>Active Users</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of active_users; let i = index" >
            {{user.name}} | <a  (click)="setUser(i,'inactive')">Set Inactive</a>
          </li>
          </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <h4>Inactive Users</h4>
              <ul class="list-group">
                  <li class="list-group-item" *ngFor="let user of inactive_users; let i = index" >
                    {{user.name}} | <a  (click)="setUser(i,'active')">Set Active</a>
                  </li>
                  </ul>
                  <hr>
                  <p>Total operations: {{operationCount}}</p>
        </div>
        
      </div>
    <hr>
</div>
<div class="container">
  
    <h3>New Application for service log</h3>
    <div class="row">
      <div class="col-xs-12">
          <app-new-account></app-new-account>
          <hr>
          <app-account
            *ngFor="let acc of accounts; let i = index"
            [id]="i"
            [account]="acc"
            (click)="onStatusChanged(i,acc)"></app-account>  
      </div>
    </div>
    <hr>
    <h3>New Application for Game Controller to work with even odd numbers</h3>
  <div class="row">
    <div class="col-xs-12">
        <app-game-control (start)="onStart($event)"></app-game-control>
        <p *ngFor="let event_number of event_numbers">
          <app-odd *ngIf="event_number.type==='odd'" [number]="event_number.value"></app-odd>
          <app-even *ngIf="event_number.type==='even'" [number]="event_number.value" ></app-even>
        </p>
    </div>
  </div>
   
  <hr>
  <h3>First app of angular.</h3>
  <div class="row">
    <div class="col-xs-12">
        <app-cockpit
        (srvCreated)="onServerAdded($event)"
        (blueCreated)="onBlueprintAdded($event)"
        ></app-cockpit>
        <hr>
      
        <button class="btn btn-primary" (click)="onChangeName()">Change me</button>
      
        <button class="btn btn-danger" (click)="onDestroy()">Destroy me</button>
            <app-server-element
            *ngFor="let serverElement of serverElements"
            [srvElement]="serverElement"
            [name]="serverElement.name"
            >
            <p #contentParagraph>
              <strong *ngIf="serverElement.type === 'server'" [ngStyle]="{'color': serverElement.type === 'server'?'red':'transparent'}">{{serverElement.content}}</strong>
              <em *ngIf="serverElement.type === 'blueprint'" [ngStyle]="{'color': serverElement.type === 'blueprint'?'blue':'transparent'}">{{serverElement.content}}</em>
            </p>
          </app-server-element>
    </div>
  </div>

</div>

