<div class="container">
  <app-cockpit
  (srvCreated)="onServerAdded($event)"
  (blueCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">

  <button class="btn btn-primary" (click)="onChangeName()">Change me</button>

  <button class="btn btn-danger" (click)="onDestroy()">Destroy me</button>
      <app-server-element
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name"
      >
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" [ngStyle]="{'color': serverElement.type === 'server'?'red':'transparent'}">{{serverElement.content}}</strong>
        <em *ngIf="serverElement.type === 'blueprint'" [ngStyle]="{'color': serverElement.type === 'blueprint'?'blue':'transparent'}">{{serverElement.content}}</em>
      </p>
    </app-server-element>
    </div>
  </div>
</div>

